body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
img {
	width: 50px;
	height: 50px;
}
h1 {
	font-family: "Handlee", cursive;
	width: 400px;
	margin: 0;
}
.postcard-body {
	display: flex;
	margin: 0px;
}
.body-left {
	font-family: "Handlee", cursive;
	margin: 0px;
}
.body-right {
	margin-top: 20px;
}
.body-right input[type="text"] {
	border: none;
	border-bottom: 2px;
	border-bottom: solid;
}

.postcard-footer {
	padding: 10px;
	text-align: center;
	border-bottom: grey;
}
button {
	background: rgba(58, 58, 58, 0.562);

	padding: 1px;
	font-family: "Handlee", cursive;
}
